:root {
  --main-red: #d62828;
  --text-light: #f5f5f5;
  --bg-dark: #000;
}

body {
  background: var(--bg-dark);
  color: var(--text-light);
  font-family: 'Poppins', sans-serif;
}

.auth-bg {
  background: linear-gradient(to bottom, #000, #111);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  background: #111;
  padding: 40px 30px;
  border-radius: 12px;
  width: 340px;
  box-shadow: 0 0 20px rgba(214,40,40,0.4);
  color: var(--text-light);
}

input {
  background: #222;
  color: #fff;
  border: 1px solid #333;
}
input::placeholder { color: #aaa; }

.msg {
  color: var(--main-red);
  font-size: 14px;
  margin-top: 5px;
}

.pointer { cursor: pointer; }

.hidden { display: none; }

.fade-in { animation: fadeUp 0.8s ease-in-out; }

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--main-red);
  transition: 0.3s;
}

button:hover { opacity: 0.9; transition: 0.2s; }

.fade-page { animation: fadeSlide 0.6s ease; }
@keyframes fadeSlide {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}
.product-card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}
.carousel-inner img {
  width: 100%;
  height: 350px;       /* chiều cao khung cố định */
  object-fit: cover;   /* cắt khung cho đẹp, KHÔNG bóp méo */
}
.footer-custom {
  background: #111;
  color: #f5f5f5;
  border-top: 1px solid #333;
  margin-top: 40px;
}

.footer-custom p,
.footer-custom small {
  font-size: 15px;
}
